In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
%cd /content/drive/MyDrive/Colab Notebooks/Panda_intro

/content/drive/MyDrive/Colab Notebooks/Panda_intro

In [ ]:
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Panda_intro/movie_data.zip')
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [ ]:
# Check for missing values
#This would check if there is any missing data in the table and return true if there is
df.isnull().any().any()

True

In [ ]:
# Lets confirm the number of missing datas accross varios tables. 
df.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

since the missing value in some colums are much lets not drop the entire row, lets replace them as dropping them would greatly affect our result.

In [ ]:
# lets replace missing values in rating with mean
x = df['RATING'].mean()
df['RATING'].fillna(x,inplace=True)

For the year column, our year is a string so we can not replace with mean, we would have to drop the missing values in year

In [ ]:
# Dropping missing values in year 
df.dropna(axis=0, how = 'any', subset=['YEAR'],inplace=True)

In [ ]:
# lets replace missing values in votes with zero
df['VOTES'].fillna(0,inplace=True)

In [ ]:
# Dropping missing values in year Genre
df.dropna(axis=0, how = 'any', subset=['GENRE'],inplace=True)

In [ ]:
# lets replace missing values in runtime with mean
x = df['RunTime'].mean()
df['RunTime'].fillna(x,inplace=True)

For the gross column, lets drop the entire gross table since it has so much missing values

In [ ]:
# dropping the entire gross table since it has so much missing values
df.drop('Gross', inplace=True, axis=1)

#The gross table has been deleted successfully the reason for the error when i ran the code again

KeyError: ignored

In [ ]:
# To check fpr duplicates in the dataset
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9994     True
9995    False
9996    False
9997    False
9998    False
Length: 9316, dtype: bool

In [ ]:
# To remove duplicates
df.drop_duplicates(subset=['MOVIES'], keep='first', inplace=True)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.100000,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.00000
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.000000,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.00000
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.200000,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.00000
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.200000,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.00000
4,Army of Thieves,(2021),"\nAction, Crime, Horror",6.921176,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,0,68.75232
...,...,...,...,...,...,...,...,...
9935,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",6.921176,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,0,68.75232
9964,AlRawabi School for Girls,(2021),\nDrama,6.921176,\nAdd a Plot\n,\n Director:\nTima Shomali\n| \n Stars:\...,0,68.75232
9993,Totenfrau,(2022– ),"\nDrama, Thriller",6.921176,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,0,68.75232
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",6.921176,\nAdd a Plot\n,\n,0,68.75232
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",6.921176,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,0,68.75232

In [ ]:
# Lets check the data type in each columns 
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES         Int64
RunTime     float64
dtype: object

From the output above,
We are okay with the datatype of all the columns in this data except for the vote column. We would have to convert the vote column datatype to integer

In [ ]:
#Converting the vote column to Integer and replacing all the string to zero
df['VOTES'] = pd.to_numeric(df['VOTES'], errors='coerce').fillna(0).astype('Int64')
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES         Int64
RunTime     float64
dtype: object